rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write, update
    }
    match /members {
      allow read, write, update
    }
    match /candidates {
      allow read, write, update
    }
  }
}