<div class="w3-container">
    <h1>MESERIE . EU </h1>
    <h2>Lista candidati</h2>
    <table class="w3-table w3-bordered w3-hoverable w3-green">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nume</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Qualification</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.uuid }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.qualification }}</td>
        </tr>
      </tbody>
      </table>
</div>
